<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

  <div class="row">
    <div class="column">
      <div class="title">
        <h3>Personal Calendar</h3>
      </div>
      <p>Some text..</p>      
    </div>
    <div class="column">
      <div class="title" style="background-color:#0099cc;">
        <h3>Local Weather</h3>
      </div>
      <br/>
      <form action="/getWeather" method="post">
        <input name="city" type="text" placeholder="Enter a City" required>
        <input type="submit" value="Get Weather">
      </form>
      <% if(weather !== null){ %>
      <p><%= weather %></p>
      <% } %>

      <% if(weather == null){ %>
      <p>Please enter a valid city.</p>
      <% } %>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <div class="title" style="background-color:#009900;">
        <h3>Notes</h3>
      </div>
      <p>Some text..</p>
    </div>
    <div class="column">
      <div class="title" style="background-color:#cc0000;">
        <h3>To-Do List</h3>
      </div>
      <div class="innerRow">
        <div class="innerColumn">
         <h2> Add a Task </h2>
         <form action ="/addTask" method="POST">
           <input type="text" name="newtask" placeholder="add new task">        
           <br/>
           <br/>
           <button> Add Task </button>
         </div>
         <div class="innerColumn">
           <h2> Task List </h2>
           <div class="todoList">
             <% for( var i = 0; i < task.length; i++){ %>
             <li><input type="checkbox" name="check" value="<%= task[i] %>" /> <%= task[i] %> </li>
             <% } %>
           </div>
           <button formaction="/removeTask" type="submit"> Remove </button>
         </form>
       </div>     
     </div>
   </div>
 </div>

</body>
</html>